<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Elements Tests">
    <test verbose="2" preserve-order="true" name="/Users/jym0222/Desktop/Apps/Bootcamp_Framework">
        <classes>
            <class name="tests.ElementsTests"/>
        </classes>
    </test>
</suite>