<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Elements Tests">
    <test verbose="2" preserve-order="true" name="/Users/jxr20920/vnv_bootcamp/_selenium_example/Bootcamp_Framework">
        <classes>
            <class name="ElementsTests"/>
        </classes>
    </test>
</suite>